# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_csv = "output_data/cities.csv"
weather_data_df = pd.read_csv(cities_csv)
weather_data_df.head(2)

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,San Joaquin,10.26,-67.79,73.09,89,100,4.21,VE,1594777615
1,1,Ushuaia,-54.80,-68.30,30.20,92,40,4.70,AR,1594777415

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# CONFIGURE GMAPS
gmaps.configure(api_key=g_key)

In [4]:
# LAT & LNG AS WEIGHT
locations = weather_data_df[['Lat','Lng']]
humidity = weather_data_df['Humidity']

#HEATMAP LAYER
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=humidity))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit ideal weather of less than 80 degrees but  more than 65, wind speeds of less than 10mph, and clear skies.

In [5]:
# NARROW ON TEMP
ideal_weather = weather_data_df.loc[(weather_data_df['Max Temp']<80) & (weather_data_df['Max Temp']>65)]
ideal_weather = ideal_weather.drop(columns = "Unnamed: 0")

#NARROW ON WIND SPEED
ideal_weather = ideal_weather.loc[(ideal_weather['Wind Speed']<10)]

#NARROW ON CLOUDYNESS
ideal_weather = ideal_weather.loc[(ideal_weather['Cloudiness']==0)]

print(f' There are {len(ideal_weather)} cities that fit my ideal temp preferences.')
ideal_weather.head(20)

 There are 18 cities that fit my ideal temp preferences.

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
91,Ribeira Grande,38.52,-28.70,69.31,80,0,6.85,PT,1594777417
111,Jalu,29.03,21.55,76.44,50,0,8.25,LY,1594777639
114,Faanui,-16.48,-151.75,78.76,79,0,5.01,PF,1594777639
143,Saint-Pierre,-21.34,55.48,68.00,72,0,8.05,RE,1594777646
146,Zhangjiakou,40.81,114.88,78.21,46,0,3.94,CN,1594777646
178,Lagoa,39.05,-27.98,68.86,80,0,6.69,PT,1594777652
310,Sergeevka,53.88,67.42,70.90,80,0,5.59,KZ,1594777679
331,Faya,18.39,42.45,71.60,28,0,6.31,SA,1594777683
336,Linhares,-19.39,-40.07,69.84,92,0,4.72,BR,1594777592
372,Abalak,58.13,68.59,68.61,82,0,6.17,RU,1594777691
373,Sosnovo-Ozerskoye,52.52,111.54,77.47,53,0,3.22,RU,1594777692
377,Ponta do Sol,32.67,-17.10,71.01,50,0,5.86,PT,1594777692
402,Fare,-16.70,-151.02,79.83,75,0,5.46,PF,1594777697
411,Uporovo,56.31,66.27,73.09,77,0,9.01,RU,1594777699
413,Sirte,31.21,16.59,75.06,81,0,7.54,LY,1594777699
417,Misratah,32.38,15.09,74.57,80,0,2.51,LY,1594777700
509,São Félix do Xingu,-6.64,-51.99,71.74,63,0,1.36,BR,1594777718
526,Leninskoye,47.94,132.62,79.88,68,0,3.96,RU,1594777721

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = ideal_weather
hotel_df['Hotel Name'] = "" 

# RESET INDEX (cleaning for For-Loop)
hotel_df.index=range(len(hotel_df))
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Ribeira Grande,38.52,-28.70,69.31,80,0,6.85,PT,1594777417,
1,Jalu,29.03,21.55,76.44,50,0,8.25,LY,1594777639,
2,Faanui,-16.48,-151.75,78.76,79,0,5.01,PF,1594777639,
3,Saint-Pierre,-21.34,55.48,68.00,72,0,8.05,RE,1594777646,
4,Zhangjiakou,40.81,114.88,78.21,46,0,3.94,CN,1594777646,
5,Lagoa,39.05,-27.98,68.86,80,0,6.69,PT,1594777652,
6,Sergeevka,53.88,67.42,70.90,80,0,5.59,KZ,1594777679,
7,Faya,18.39,42.45,71.60,28,0,6.31,SA,1594777683,
8,Linhares,-19.39,-40.07,69.84,92,0,4.72,BR,1594777592,
9,Abalak,58.13,68.59,68.61,82,0,6.17,RU,1594777691,
10,Sosnovo-Ozerskoye,52.52,111.54,77.47,53,0,3.22,RU,1594777692,
11,Ponta do Sol,32.67,-17.10,71.01,50,0,5.86,PT,1594777692,
12,Fare,-16.70,-151.02,79.83,75,0,5.46,PF,1594777697,
13,Uporovo,56.31,66.27,73.09,77,0,9.01,RU,1594777699,
14,Sirte,31.21,16.59,75.06,81,0,7.54,LY,1594777699,
15,Misratah,32.38,15.09,74.57,80,0,2.51,LY,1594777700,
16,São Félix do Xingu,-6.64,-51.99,71.74,63,0,1.36,BR,1594777718,
17,Leninskoye,47.94,132.62,79.88,68,0,3.96,RU,1594777721,

In [7]:
# SET PARAMENTERS TO SEARCH FOR HOTELS WITHIN 5000 METERS
radius = 5000
target_type = 'lodging'

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for i in hotel_df.index:
    target_coordinates = hotel_df['Lat'][i].astype(str) + "," + hotel_df['Lng'][i].astype(str)

    params = {
      "location": target_coordinates,
      "radius": radius,
      "type": target_type,
      "key": g_key
    }

    response = requests.get(base_url, params=params)
    locations = response.json()

hotel_df['Hotel Name'][i] = locations["results"][0]["name"]
hotel_df.head(10)

# the following warning is OK

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Ribeira Grande,38.52,-28.70,69.31,80,0,6.85,PT,1594777417,
1,Jalu,29.03,21.55,76.44,50,0,8.25,LY,1594777639,
2,Faanui,-16.48,-151.75,78.76,79,0,5.01,PF,1594777639,
3,Saint-Pierre,-21.34,55.48,68.00,72,0,8.05,RE,1594777646,
4,Zhangjiakou,40.81,114.88,78.21,46,0,3.94,CN,1594777646,
5,Lagoa,39.05,-27.98,68.86,80,0,6.69,PT,1594777652,
6,Sergeevka,53.88,67.42,70.90,80,0,5.59,KZ,1594777679,
7,Faya,18.39,42.45,71.60,28,0,6.31,SA,1594777683,
8,Linhares,-19.39,-40.07,69.84,92,0,4.72,BR,1594777592,
9,Abalak,58.13,68.59,68.61,82,0,6.17,RU,1594777691,

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
hotel_coordinates = hotel_df[["Lat", "Lng"]]
hotel_coordinates

      Lat     Lng
0   38.52  -28.70
1   29.03   21.55
2  -16.48 -151.75
3  -21.34   55.48
4   40.81  114.88
5   39.05  -27.98
6   53.88   67.42
7   18.39   42.45
8  -19.39  -40.07
9   58.13   68.59
10  52.52  111.54
11  32.67  -17.10
12 -16.70 -151.02
13  56.31   66.27
14  31.21   16.59
15  32.38   15.09
16  -6.64  -51.99
17  47.94  132.62

In [12]:
# Add marker layer ontop of heat map
humidity = hotel_df['Humidity']

fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=humidity, max_intensity = 300))
fig.add_layer(gmaps.marker_layer(locations, info_box_content=hotel_info))

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))