In [2]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [3]:
# DATA FILES
data_shootings_path = "data/data_shootings.csv"
data_shootings_locations_path = "data/data_shootings_locations.csv"

# READ
data_shootings = pd.read_csv(data_shootings_path)
data_shootings_locations = pd.read_csv(data_shootings_locations_path)

In [6]:
data_shootings.head(3)

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False

In [7]:
data_shootings_locations.head(3)

             city         lon        lat
0  Los Angeles CA -118.244476  34.054935
1      Phoenix AZ -112.077346  33.448587
2      Houston TX  -95.367697  29.758938

### Merge DFs. Match each city and append longitude and latitude.

### Create new data with select columns

### Clean DataFrame

### Connect to local database

In [9]:
rds_connection_string = "postgres:PASSWORD@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [10]:
engine.table_names()

[]

### Use pandas to load csv converted DataFrame into database

In [8]:
DF.to_sql(name='TABLE_NAME', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [ ]:
pd.read_sql_query('select * from TABLE_NAME', con=engine).head()

### Confirm data has been added by querying the customer_location table

In [ ]:
pd.read_sql_query('select * from TABLE_NAME', con=engine).head()